<launch>
  <arg name="namespace"       default="rdg00" />
  <arg name="tfpre"           default="$(arg namespace)_tf"/>
  <arg name="odom_frame_id"   default="$(arg tfpre)/odom"/>
  <arg name="base_frame_id"   default="$(arg tfpre)/base_link"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="odom_topic" default="odometry/filtered" />
  <arg name="laser_topic" default="front/scan" />
  <!-- <arg name="custom_param_file" default="$(find multi_ridgeback_nav)/param/dummy.yaml"/> -->
 
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find multi_ridgeback_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam param="global_costmap/obstacles_layer/scan/sensor_frame" subst_value="True">$(arg tfpre)/front_laser</rosparam>
    <rosparam file="$(find multi_ridgeback_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam param="local_costmap/obstacles_layer/scan/sensor_frame" subst_value="True">$(arg tfpre)/front_laser</rosparam>

    <rosparam file="$(find multi_ridgeback_nav)/config/map_nav_params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find multi_ridgeback_nav)/config/map_nav_params/global_costmap_params.yaml" command="load" />
    
    <rosparam file="$(find multi_ridgeback_nav)/config/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find multi_ridgeback_nav)/config/move_base_params.yaml" command="load" />
    
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/> -->
    
    
    <!-- reset frame_id parameters using user input data -->
    <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="local_costmap/global_frame" value="$(arg odom_frame_id)"/>
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)"/>

    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="scan" to="$(arg laser_topic)"/>
    <remap from="map" to="/map" />
  </node>

</launch>
